<div id="dashboard-container" class="row">
    <div id="module-medley-results" class="col-lg-2 visible-lg">
      <h6 class="s-grey s-font-bold s-centered" style="letter-spacing:3px;color:#444;font-size:11px">MEDLEYS</h6>
      <div class="row">
        <div id="medley-results-container" class="col-lg-12">
        </div>
      </div>
    </div>
    <div id="module-medley-browser" class="col-lg-8">

    </div> <!-- module-medley-browser -->
    <div id="module-product-results-container" class="col-lg-2 visible-lg">
      <h6 class="s-grey s-font-bold s-centered" style="letter-spacing:3px;color:#444;font-size:11px">PRODUCTS</h6>
      <div class="row">
        <div id="module-product-results" class="col-lg-12">
        </div>
      </div>
    </div>
</div>

<!-- Modals -->
<div id="product-modal" class="modal fade">
</div><!-- /.modal -->
<div id="welcome-modal" class="modal fade">

  <div class="modal-dialog">
    <div class="modal-content row">

      <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">&times;</button>
      <div class="col-lg-12">
          <h2 class="m-centered brand m-no-margin" style="color:#000;font-size:35px;margin-top:20px;">MEDLEY</h2>
          <p class="m-centered" style="margin-top:10px;margin-bottom:15px;font-size:16px;">
            We're currently in beta.<br/>  Enter your email to receive updates!
          </p>

          <div id="newsletter-signup-form" class="row">
              <div class="col-offset-2 col-lg-8">
                  <form role="form">
                    <div class="form-group m-centered">
                      <label for="exampleInputEmail1" class="m-centered">Email address</label>
                      <input type="email" class="form-control m-centered" id="newsletter-email-field" placeholder="Enter email">
                    </div>
                    <center><button type="submit" class="btn btn-grey">Submit</button></center>
                  </form>
              </div>
          </div>



      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->

</div><!-- /#welcome-modal -->

