<div id="dashboard-container" class="row">
	<div id="module-product-results-container" class="col-lg-4 visible-lg">
		<h6 class="s-grey s-font-bold s-centered" style="letter-spacing:3px;color:#444444;font-size:11px">PRODUCTS</h6>
		<div class="row">
			<div id="module-product-results" class="col-lg-12">
				<div class="no-results-container animated bounceInUp">
					<p>To get started, enter a product in the search bar above.  Then drag the products you like into the Medley on the right.</p>
				</div>
			</div>
		</div>
	</div>
	<div id="module-medley-editor" class="col-lg-8">
	</div>

<!-- Modals -->

<!-- Publish Medley Modal -->
<div id="publish-medley-modal" class="modal fade">
  <div class="modal-dialog">
    <div id="publish-modal-inner" class="modal-content">
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Shopping Cart Modal -->
<div id="cart-items-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content m-box-shadow-one">
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


</div> <!-- #dashboard-container -->

