<div id="dashboard-container" class="row">
</div>

<!-- Modals -->
<!-- Notification Modal -->
<div id="notification-modal" class="modal animated remixed fade">
  <div class="modal-dialog">
    <div class="modal-content">
    	<h1 class="s-centered s-font-bold" style="font-size:80px;margin-bottom:0px;line-height:60px;">Remix!</h1>
		<h5 class="s-centered" style="margin:5px 0px;font-weight:normal;color:#777;font-size:16px">Make your own Medley out of this one</h5>
		<h3 class="s-centered" style="margin:25px 0px;font-size:19px;color:rgb(51, 51, 51);">Continue Making Your Own Version?</h3>

		<p class="s-centered"><button id="remix-button" class="btn btn-success btn-large" style="width:150px;">Yes!</button></p>
		<p class="s-centered"><button id="cancel-remix-button" class="btn btn-danger" style="width:150px;font-size:13px;" data-dismiss="modal" aria-hidden="true">Meh, No</button></p>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Shopping Cart Modal -->
<div id="cart-items-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->