<div class="row">
	<div id="module-product-results" class="col-lg-2 visible-lg">
	</div>
	<div id="module-medley-browser" class="col-lg-8">
	</div>
	<div id="module-medley-results" class="col-lg-2 visible-lg">
	</div>
</div>


<!-- Modals -->
<!-- Shopping Cart Modal -->
<div id="cart-items-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->