<div class="row">
	<div class="col-lg-3">
		<h4>Departments</h4>
		<ul class="list-unstyled">
			<li>
				Books
			</li>
			<li>
				Movies, Music & Games
			</li>
			<li>
				Electronics & Computers
			</li>
			<li>
				Home, Garden & Tools
			</li>
			<li>
				Grocery, Health & Beauty
			</li>
			<li>
				Toys, Kids & Baby
			</li>
			<li>
				Clothing, Shoes & Jewelry
			</li>
			<li>
				Sports & Outdoors
			</li>
			<li>
				Automotive & Industrial
			</li>
		</ul>
	</div>
	<div id="module-item-results" class="col-lg-9">
	</div>
</div>

<div class="row">
	<div class="col-lg-10" style="height:400px;">
	</div>
</div>

<!-- Modals -->
<!-- Shopping Cart Modal -->
<div id="cart-items-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->