<div id="dashboard-container" class="row">
	<div id="show-container" class="col-lg-8">
	</div>
	<div id="user-medleys-container" class="col-lg-4 visible-lg">
		<h6 class="s-grey s-font-bold s-centered" style="letter-spacing:3px;color:#444444;font-size:11px">User's Medleys</h6>
		<div class="row">
			<div id="user-medley-results" class="col-lg-12">

			</div>
		</div>
	</div>

	<!-- Modals -->


</div> <!-- #dashboard-container -->

