<h5 class="s-grey">Your Results...</h5>

<ul class="list-unstyled">

	<% _.each(collection, function(collection) { %>
			<li><%= collection.attrs.title %></li>
			<li class="s-grey" style="padding-left:10px;">Category: <%= collection.attrs.product_group%></li>
	<% }); %>

</ul>