
	<% _.each(collection, function(collection) { %>
			
			<div class="row item-result-row" draggable="true">
				<div class="col-offset-1 col-lg-10 product-result-container s-box-shadow-one">

					<%  // Check for Image 
						if (collection.image_sets.primary) { %>
						<center><img src="<%= collection.image_sets.primary.images.medium.url %>" draggable="false" class=""></center>
					<%  } else {  %>
						<p class="s-centered">No Image</p>
					<%	}  %>

					<p class="result-title" ><%= collection.attrs.title %></p>

					<%  if (collection.offers[0]) {
							var productPrice = collection.offers[0].price.fractional
							productPrice = (productPrice/100).toFixed(2)

						%>  <span class="result-price pull-right">$<%= productPrice %></span> 

						<%	} else { %>
							<span class="result-price pull-right">No Price</span> 
						<%	}        %>

					<p class="result-category">
						<%= collection.attrs.product_group %>
					</p> 

				</div>
			</div>

	<% }); %>

