<div id="item-options-panel">
	<i class="glyphicon glyphicon-remove pull-right"></i><br/>
	<input type="text" id="item-title" class="form-control s-centered m-box-shadow-one" value="Rain Coat" placeholder="Product Title">
	<p id="item-box-size" data-size="3" class="s-centered s-font-bold" style="margin-top:10px;margin-bottom:2px;font-size:14px;">Large</p>
	<center>

			<button id="size-minus-button" type="button" class="btn btn-mini btn-default"><i class="glyphicon glyphicon-minus"></i></button>
  			<button id="size-plus-button" type="button" class="btn btn-mini btn-default"><i class="glyphicon glyphicon-plus"></i></button>

	</center>
	<p class="s-centered" style="margin-top:10px;"><button id="save-item-button" class="btn btn-success">Done</button>
	</p>



</div>
