<h2 id="medley-title" class="s-grey s-font-bold s-centered" contenteditable="true">UNTITLED MEDLY</h2>

<div id="medley-container" class="col-offset-2 col-lg-8">
	<div class="gridster">
		<ul id="medley-grid" class="list-unstyled">
			<li class="medley-grid-item" data-row="1" data-col="1" data-sizex="1" data-sizey="1"><i class="glyphicon glyphicon-pencil pull-right edit-item-button"></i></li>
	        <li class="medley-grid-item" data-row="2" data-col="1" data-sizex="1" data-sizey="1"><i class="glyphicon glyphicon-pencil pull-right edit-item-button"></i></li>
	        <li class="medley-grid-item" data-row="3" data-col="1" data-sizex="1" data-sizey="1"><i class="glyphicon glyphicon-pencil pull-right edit-item-button"></i></li>
	        <li class="medley-grid-item" data-row="1" data-col="2" data-sizex="2" data-sizey="1"><i class="glyphicon glyphicon-pencil pull-right edit-item-button"></i></li>
	        <li class="medley-grid-item" data-row="2" data-col="2" data-sizex="2" data-sizey="2"><i class="glyphicon glyphicon-pencil pull-right edit-item-button"></i></li>
		</ul>
	</div>

</div>

<div class="row">
	<div id="medley-description" class="col-offset-2 col-lg-8" contenteditable="true">
		This Medley is a remix of -------.  Click this description to edit it.
	</div>
</div>