<% if (typeof collection === 'undefined'){ %>
	<h2 id="medley-title" class="s-grey s-font-bold s-centered" contenteditable="true">Untitled Medley</h2>
<% } else { %>
	<h2 id="medley-title" class="s-grey s-font-bold s-centered" contenteditable="true"><%= decodeURI(collection.title) %></h2>
<% } %>

<div id="medley-container" class="col-offset-2 col-lg-8">
	<div class="gridster">
		<ul id="medley-grid" class="list-unstyled">
			
		</ul>
	</div>

</div>

<div class="row">
	<div id="description" class="col-offset-2 col-lg-5 m-font-two" contenteditable="true">
		<% if (typeof collection === 'undefined'){ %>
			Click here to enter or edit a description for this Medley...
		<% } else { %>
			<%= decodeURI(collection.description) %>
		<% } %>
	</div>
	<div id="user-information" class="col-lg-3 m-font-two">
	</div>
</div>