<h2 id="medley-title" class="col-offset-2 col-lg-8 s-grey s-font-bold s-centered" contenteditable="true"><%= decodeURI(params.title) %></h2>

<p id="editor-title-error" class="col-offset-2 col-lg-8 m-centered editor-error-text" style="display:none;"></p>

<div id="medley-container" class="col-offset-2 col-lg-8">
	<div class="gridster">
		<ul id="medley-grid" class="list-unstyled">
		</ul>
	</div>
</div>

<div class="row">
	<div id="description" class="col-offset-2 col-lg-4 m-font-two" contenteditable="true">
		<%= decodeURI(params.description) %>
	</div>
	<div id="user-information" class="col-offset-1 col-lg-3 m-font-two">
	</div>
</div>