<div id="medley-item-image-container">
	<img src="<%= model.img_small %>" class="product-image">
</div>

<div id="medley-item-title-container">
	<h1 class="m-font-two product-title" contenteditable="true"><%= model.title %></h1>
	<div class="product-option-icons">
		<i class="glyphicon glyphicon-search"></i>
		<i id="size-minus-button" class="glyphicon glyphicon-minus"></i>
		<i id="size-plus-button" class="glyphicon glyphicon-plus"></i>
		<i id="delete-item-button" class="glyphicon glyphicon-trash"></i>
	</div>
</div>