<div id="cart-popover-trigger">
	<span id="cart-icon" class="glyphicon glyphicon-shopping-cart" style="font-size:30px;"></span><a href="#"><span id="cart-item-count" class="badge"><%= itemCount %></span></a>
</div>
