
	<h2 id="medley-title-browser" class="s-grey s-font-bold s-centered"><%= model.title %></h2>
	<div class="row">
		<div id="medley-container" class="col-offset-2 col-lg-8">

			<div class="gridster">
	    		<ul id="medley-grid" class="list-unstyled">

	    		</ul>
	    	</div>

		</div>
	</div> <!-- .row -->

	<div class="row">
		<div id="medley-description" class="col-offset-2 col-lg-5 m-font-light">
			<%= model.description %>
		</div>

		<div class="col-lg-3">

			<div class="row">
				<div id="owner-info-container" class="col-lg-12">
					<p id="created-by" style="margin-bottom:3px;">Created by</p>
					<h3 id="created-by-username"><%= model.user.username %></h3>
				</div>
			</div>
			<div class="row">
				<ul id="actions-container" class="col-lg-12 list-unstyled">
					<li>
						<a id="remix-link" class="m-font-light" href="#">
							<i class="glyphicon glyphicon-retweet" style="font-size:13px;display:inline-block;vertical-align: middle;color:#fff;padding-right:5px;"></i> Remix Medley
						</a>
					</li>
					<li>
						<a id="share-link" class="m-font-light" href="#">
							<i class="glyphicon glyphicon-globe" style="font-size:13px;display:inline-block;vertical-align: middle;color:#fff;padding-right:5px;"></i> Share Medley
						</a>
					</li>
				</ul>

			</div>

		</div>

	</div>


	<!-- Modals -->
	
    <!-- Remix Modal -->
    <div id="remix-modal" class="modal animated remixed fade">
      <div class="modal-dialog">
        <div class="modal-content animated remixed">
          <h1 class="s-centered s-font-bold" style="font-size:50px;margin-bottom:0px;line-height:60px;margin-top:35px;">Remix</h1>
        <h3 class="s-centered m-font-light" style="margin:15px 0px;font-size:16px;color:rgb(51, 51, 51);">Want To Make Your Own Medley Out Of This One?</h3>
        <p id="editor-link-container" class="s-centered" style="margin-top:35px;"><a href="#" id="editor-button" class="btn btn-primary" style="width:150px;padding:15px;font-size:12px;">YES</a></p>
        <p class="s-centered"><a id="cancel-remix-link" class="m-font-light" style="font-size:14px;" data-dismiss="modal" aria-hidden="true">No Thanks</a></p>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /#remix-modal -->

    <!-- Share Modal -->
    <div id="share-modal" class="modal animated remixed fade">
      <div class="modal-dialog">
        <div class="modal-content animated remixed">
          	<h1 class="s-centered s-font-bold" style="font-size:50px;margin-bottom:0px;line-height:60px;margin-top:35px;">Share</h1>
        	
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /#remix-modal -->



