<% if (collection.length < 1) { %>

<div class="row item-result-row">
	<div class="col-offset-1 col-lg-10 product-result-container s-box-shadow-one">
		<h6 class="m-centered" style="line-height:15px;">No Medleys Found</h6>
	</div>
</div>
	
<% } else { %>
	
<% _.each(collection, function(medley) { %>
			
			<div class="row item-result-row">
				<div class="col-offset-1 col-lg-10 product-result-container s-box-shadow-one">

					<%  // Check for Image 
						if (medley.i1_img_small) { %>
						<center><img src="<%= medley.i1_img_small %>" draggable="false" class=""></center>
					<%  } else {  %>
						<p class="s-centered">No Image</p>
					<%	}  %>

					<p class="result-title" ><%= medley.title.replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase() }) %></p>

					<p class="result-category">
						<%= medley.category %>
					</p> 

				</div>
			</div>

	<% }); %>

<% } %>

<% if (collection.length < 15) { %>

	<h6 class="m-centered" style="font-size:10px;">Most Recent Medleys</h6>
	<div class="row">
		<div id="medleys-most-recent" class="col-lg-12">
		</div>
	</div>

<% } %>

