<!DOCTYPE html>
<html>
<head>
  <title>Shopperater</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div class="row">
	  <div class="col-lg-8"><h2>Shopperater</h2></div>
	  <div class="col-lg-4"></div>
	</div>
	<%= yield %>
</div>
</body>
</html>
